.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.tabs li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  cursor: pointer;
}

.tabs li.active {
  background: #0984e3;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.tab-content {
  padding: 20px;
  border: 1px solid #e9e9e9;
  border-radius: 0 0 4px 4px;
}

img {
  max-height: 400px;
  max-width: 100%;
}

.tabs-wrapper {
  padding: 20px;
}